html{
    background-color: burlywood;
}

body{
    background-color: bisque;
    text-align:center;
}

h1{
    color: brown;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}